<div class="card m-1" style="width: 300px;">
      <div class="card-header">
        {{{cardTitle}}}
      </div>
      <div class="card-body text-truncate text-secondary">
        {{{cardBody}}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        {{{cardFooter}}}
      </div>
    </div>